<!-- app/views/texts/show.html.erb -->
<h1><%= @text.title %></h1>
<p><%= @text.content %></p>
<%= link_to 'Edit', edit_text_path(@text), data: { turbo_frame: "text_#{@text.id}" } %> |
<%= link_to 'Back', texts_path %> |
<%= link_to 'Destroy', @text, method: :delete, data: { confirm: 'Are you sure?', turbo_frame: "text_#{@text.id}", turbo_method: :delete } %>
